@{ 
    ViewBag.Title = "Login Page";
}
<h1>Welcome to our Login Page</h1>
<form method="post">
      <input type="text" name="Username"/>
        <input type="text" name="Password"/>
        <input type="submit" value="Login" />
    </form>
