
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h1>Login Page</h1>
        @Html.RouteLink("Click here","Home") to login!
    </div>
</body>
</html>
